[2016-03-16 21:05] jimsafley opened #1 "Use GeoJSON-LD vocabulary"
[GeoJSON](http://geojson.org/) is a format for encoding a variety of geographic data structures. [GeoJSON-LD](http://geojson.org/vocab) defines a vocabulary for describing GeoJSON data that's compatible with linked data.

I see two advantages of using GeoJSON-LD: a) It's trivial for [Leaflet](http://leafletjs.com/) to consume and render features described by a GeoJSON document, and b)  it will let

[2016-04-04 18:43] jimsafley opened #2 "Add a "Map" site page block"
We need a way to add maps to sites. Here's one way that I see a "Map" block could work: a user selects the block and adds attachments (preferably only items, see https://github.com/omeka/omeka-s/issues/585). Then, on the public side, a map appears with all markers belonging to all selected items, as well as a select options for all WMS overlays that may belong to the items, including controls for

[2016-04-04 19:34] jimsafley commented on #2
An individual item can have one WMS overlay (e.g. for a georectified historic map), but there's probably a need for setting one or more overlays per "Map" block, irrespective of the overlays of the constituent items.

This means that the block will need inputs for WMS data (base URL, layers, styles, labels). It will likely need inputs for center latitude/longitude and zoom level as well (which is

[2016-04-25 15:23] jimsafley opened #3 "Set WMS layers to page blocks, not items"
I've been thinking that my initial approach to map overlays is not optimal. Right now the user sets _one_ WMS layer while editing an item. It makes more sense to me that the user set _one or more_ WMS layers while editing a site's "Map" page block. This moves the addition of map overlays from the metadata side to the presentation side, which seems a more suitable separation. (Users will still be a

[2016-04-25 15:33] patrickmj opened #4 "Connect Mapping to CSVImport"

[2016-04-25 21:19] patrickmj opened #5 "Add option for setting Marker label to CSV import"

[2016-04-27 20:33] patrickmj opened #6 "CSV importing giving ORMInvalidArgumentException"
Oddly, markers are imported okay, and bonus oddly, even when there's no csv mapping to marker data, it still appears.

2016-04-27T20:27:13+00:00 ERR (3): exception 'Doctrine\ORM\ORMInvalidArgumentException' with message 'A new entity was found through the relationship 'Mapping\Entity\Mapping#item' that was not configured to cascade persist operations for entity: Omeka\Entity\Item@000000007c1a4c590

[2016-04-27 20:45] zerocrates commented on #6
You get this error when one persisted entity (in this case, the Mapping) references another entity that isn't persisted.

The Item should be getting persisted by the batch_create call, so there's something odd happening here... are you back to continuning after error? That would explain it: an error happens, the Item never gets persisted, but the associated Mapping remains and mucks things up once

[2016-04-27 20:54] patrickmj commented on #6
Same result regardless of continuing after error setting

[2016-04-27 21:33] patrickmj commented on #6
More details:

Confirm that Item, Mapping, and MappingMarker all created, and map shows up with the marker for the item.

Maybe a matter of order? Mapping gets persisted and complains that the Item hasn't been persisted in the ErrorStore, then the Item gets persisted after all, so everything looks good on the other side?

Not sure of the sequence from the events system, but both Mappings and Mappi

[2016-04-28 20:17] zerocrates commented on #6
Is there no possibility that this error is for another item than the one where everything's being created correctly? With an exception like that, nothing should be getting saved.

[2016-05-02 16:01] patrickmj commented on #6
yep. only one row to import.

[2016-05-02 16:23] patrickmj commented on #6
seems to only happen with batchCreate

[2016-05-02 19:48] zerocrates commented on #6
The error is actually happening when CSV Import tries to save its records of what items were inserted (and that's why the items themselves are all coming in fine: this error happens after they've already been saved).

[2016-05-02 20:01] zerocrates commented on #6
So, the error happens because we explicitly detact entities that were created in a batch create, and just return references. The main entity, the Item, is detached, but the Mapping and/or Markers aren't, so they're still in the entity manager, and next time we flush, we see this error.

Normally you fix this by setting cascade detach on the association, but that association needs to be set on the

[2016-05-02 20:43] zerocrates opened #8 "Mapping records get created for Items with no map information"
This is why the CSV Import was encountering its error even when no Map-related column mappings were set up. It seems like you don't want to save empty rows for every item that doesn't have any mapping information on it, for one just from an efficiency standpoint, and from another because it becomes difficult/impossible to tell which items actually have mapping stuff attached and which don't (separ

[2016-05-02 20:45] zerocrates opened #9 "Mapping tab shows on show page for all items"
Particularly given the shared nature of an S install, I think that users won't like having a default Map appear on every item, including pre-existing ones. The Map tab should probably only appear when a map and/or markers have been set (or if the tab must remain then it should say something about there being no mapping data, not show a default map).

[2016-05-02 21:27] patrickmj opened #10 "EntityManager closing semi-silently"
Merged fix-detach-error into csv-import.

With no csvimport-mappings to the Mapping plugin, import completes with nothing in jobs log, but doesn't get to recording the import data. Running from command line gives the message below

With mappings, same error in job log as #6 .

[code]

[2016-05-02 21:43] zerocrates commented on #10
Are there markers in this set? Different results if no markers mapped? That
could just be a matter of needing detach cascade from the mapping to the
markers.

Also, are you on the latest pull for core? That's where the fix for logging
lives.
On May 2, 2016 5:27 PM, "Patrick Murray-John" notifications@github.com
wrote:

[2016-05-02 21:45] zerocrates commented on #10
Also some of those "entity manager is closed" errors are currently expected
whenever there's an error like this, just from other later flushes.
On May 2, 2016 5:43 PM, "John Flatness" john@zerocrates.org wrote:

[2016-05-02 23:20] zerocrates commented on #10
Posting the actual logged error is the easiest way to tell what's up, but my best guess is that it's just basically the same problem but this time with the MappingMarker entity. The message should look the same but with the name of the entity changed.

I'd thought the Markers were attached to the Mapping, so I could just rely on the detach cascading from one to the the other, but it seems they're

[2016-05-03 17:44] #8 closed, assigned to nobody

[2016-05-03 17:44] #9 closed, assigned to nobody

[2016-05-03 21:06] #6 closed, assigned to patrickmj

[2016-05-03 21:06] #10 closed, assigned to nobody

[2016-05-03 21:08] #3 closed, assigned to nobody

[2016-05-03 21:08] #2 closed, assigned to nobody

[2016-05-06 15:05] jimsafley opened #11 "Map overlays need opacity control"
The trick here is that Leaflet does not have exclusive grouped layers (radio instead of checkbox). An opacity control needs to be assigned to one layer at a time so multiple overlays don't make sense. Thankfully there's a Leaflet plugin that offers [exclusive grouped layers](https://github.com/ismyrnow/Leaflet.groupedlayercontrol). We should implement that and see if our homegrown opacity control

[2016-05-06 17:49] jimsafley commented on #11
Implemented exclusive grouped layers in bc1fa0cc3cfe536930eead0706aaa50527f275b7

[2016-05-09 13:32] jimsafley opened #12 "Allow users to mark a WMS overlay as visible by default"
When editing a Map block layout, users should have the option to mark a WMS overlay as visible by default. Each overlay should have a radio button to this effect, including one for "none visible".

[2016-05-09 15:28] patrickmj opened #13 "Finalize what can and cannot be done via CSVImport"

[2016-05-10 17:24] #11 closed, assigned to nobody

[2016-05-11 02:22] #12 closed, assigned to nobody

[2016-05-11 12:48] jimsafley opened #14 "Configurable map dimensions for Map page blocks"
It may be helpful for site builders to set a width and height for each map block on a page. I'm not sure how well these configurations would interact with theme styles, so I'll need some guidance from @kimisgold.

[2016-05-11 16:43] patrickmj commented on #6
@jimsafley @zerocrates Getting same thing again, but with 'Mapping\Entity\MappingMarker#item' instead of 'Mapping\Entity\Mapping#item' Not sure what's the best way to duplicate the fix

[2016-05-11 18:48] jimsafley opened #15 "Add a site page that includes all markers from the site's item pool"

[2016-05-12 23:02] #15 closed, assigned to nobody

[2016-05-13 21:09] zerocrates opened #16 "Geocoding?"
That would be the final feature left for parity with classic Geolocation.

Seems like it can be done pretty easily as a map control with any of the various listed geocoding plugins. The first one in particular, GeoSearch, seems like it works well.

[2016-05-14 01:42] jimsafley opened #17 "Translate and escape text"

[2016-05-14 12:05] #16 closed, assigned to nobody

[2016-05-14 12:29] jimsafley opened #18 "Instructions for item add/edit mapping form"
The mapping form likely needs instructions beyond the control link titles. We need some kind of instructional/explanatory text for the following:
- adding, editing, deleting markers
- geocoding
- setting the default view
- switching between base layers
- labeling and setting media to markers

[2016-05-16 14:29] #13 closed, assigned to patrickmj

[2016-05-16 14:38] jimsafley commented on #14
For now a set height (500px) and dynamic width are acceptable. We'll confront this when there's a stated need.

[2016-05-16 14:38] #14 closed, assigned to nobody

[2016-05-23 17:03] #4 closed, assigned to patrickmj

[2016-05-23 17:03] #5 closed, assigned to patrickmj

[2016-05-25 19:24] jimsafley opened #19 "Filter items by radius in kilometers and miles"
Users should select which measurement they want to filter by on the map browse page. Calculate the distance of markers from center coordinates using the Haversine formula (6371 for km; 3959 for miles). Default should be kilometers.

[2016-05-25 23:52] #19 closed, assigned to nobody

[2016-06-08 15:04] jimsafley opened #20 "Testing"
@jannellelegg @mebrett

This module needs testing. Download and install the module and make sure you already have a few items, each with a few media. Confirm the following is true:
- When adding or editing an item there's a "Mapping" tab that contains a map interface
- The map interface contains the following controls (confirm that each works):
  - "Zoom in" (zooms the map in)
  - "Zoom out" (zoom

[2016-06-10 17:41] mebrett commented on #20
Everything is functional.
A few notes:
- A (positive) note on the map view on the item show page - it auto-zooms for pins if you haven't saved a default zoom. This is very helpful!
- Is there any way to get the overall default zoom level a little less out? As it is, I get to see North America twice over and ton of Antarctica. (Might be useful as a Global Admin option, at least). It gets a bit frus

[2016-06-10 18:26] jannellelegg commented on #20
No issues with the map controls, creating/editing markers and labels, modifying the view, or viewing a map on the item page.
- I didn't have the problem with default zoom that Megan described above until I made my browser window larger.
- I did notice that the maps are not generating on the front end yet (we're not testing for it yet, but in case you needed additional info- the map frame generated

[2016-06-13 17:05] jimsafley commented on #20
@jannellelegg @mebrett

Thanks for your input. Let's move on to testing maps in sites. Confirm the following is true:
- When adding or editing a site page there's a "Map" option in the "Add New Block" sidebar
- Clicking the "Map" option adds a  "Map" block to the form containing the following expandable/collapsible sections:
  - "Default View"
  - "WMS Overlays"
  - "Attachments"
- The "Default Vi

[2016-06-13 19:32] jannellelegg commented on #20
Everything worked great for me. [Is there anything I should have put in the "Layers" or "Styles" fields? I left them blank.

I also confirmed that on the public map block, the icons populated and when clicked, populated info/images. The layer toggle was also functional and I was able to change between maps from the public side.

One thing I noticed- the Default viewer map is smaller than the map d

[2016-06-14 21:10] jimsafley commented on #20
I changed the way we set default views. There is little visual change to the interface, but the results should be more expected (see 1531cc1d9392cec1d94c716b38a59fc2793e1eb5). Pull from master and try it out. **Note that you must first uninstall and reinstall the module.**

[2016-06-15 15:38] mebrett commented on #20
Uninstalled, pulled, installed. Maps for pages still works. BUT:
<img width="1273" alt="screen shot 2016-06-15 at 11 33 04 am" src="https://cloud.githubusercontent.com/assets/2314070/16086461/9de5ef0c-32ed-11e6-89e2-98609f2d6067.png">

The latest update has done something to the item/edit view so that it's a blank screen.

[2016-06-15 15:43] jimsafley commented on #20
The most recent commit should fix it. To be sure, pull the most recent changes to omeka-s as well.

[2016-06-15 15:45] mebrett commented on #20
That fixed it!

[2016-06-15 15:53] jannellelegg commented on #20
The recent update did improve the relationship between the default view and the front end view (in terms of setting the scale of the map).

However, the points are no longer being plotted in the default viewer or front-end.
I attempted to remove an item and re-add it, and noted that "Add Attachment" is no longer populating items for selection. (For comparison, adding an item to the Item Showcase b

[2016-06-15 16:17] jimsafley commented on #20
@jannellelegg do any of your items have markers? The attachment sidebar only lists items that have markers.

[2016-06-15 16:20] jannellelegg commented on #20
When adding/editing a map in the edit item screen, the option to save changes to the marker is not clear. The only visible option is to click "save" at the top of the page - which doesn't preserve the changes to the marker label.

![screen shot 2016-06-15 at 12 11 29 pm](https://cloud.githubusercontent.com/assets/5897725/16087901/c5724fa2-32f2-11e6-9bdd-b209e86fd252.png)

If a user clicks the mark

[2016-06-15 16:24] jannellelegg commented on #20
Jim, good question - it looks like the last update deleted the maps for those items. I've re-added the map to the items and that fixed it. Thanks - I should have double-checked the items!

[2016-06-15 16:41] jimsafley commented on #20
@jannellelegg The "Edit Layers" in-map control is confusing. Instead, it should say "Move markers" since its only function is to allow users to click and drag markers. The actual editing of a marker happens in the popup. Would changing the label to "Move markers" help matters?

This reminds me: per #18 I need someone to write (clear and concise) instructions for using the map interface. Would you

[2016-06-15 17:36] jimsafley commented on #20
@jannellelegg I modified the toolbar button labels to better reflect what they do (see aa3848b01d3a0bc7981ef78325ad97f14a991e52). Hopefully this improves the user experience.

[2016-06-15 17:48] jannellelegg commented on #20
The change to "Move Markers" works for me. Is hitting "Save" at the top of the page meant to save the changes to the text in the pop-up window? If so, it's not always sticking? I'll keep trying to reproduce the problem and see if I can figure out how/why it might be happening based on what I'm doing.

Sure, I'm happy to work on some instructions.

[2016-06-15 17:51] jimsafley commented on #20
Yes, something's wrong if the marker label isn't being saved after clicking "Save".

[2016-07-13 19:25] jimsafley commented on #20
@jannellelegg @mebrett

Where do you stand on testing this module? Other than existing issues, have you discovered any bugs or unexpected behavior? Do you have ideas for improvement? I remember that you've drafted documentation. Where is that? From your perspective, is this plugin ready to be released to the public?

[2016-07-13 20:06] mebrett commented on #20
Documentation is here: https://github.com/omeka/omeka-s-enduser/blob/master/modules/mapping.md

[2016-07-15 14:05] mebrett commented on #20
The new default view is great, everything is working fine and I think we're ready for a public release.

Not to hold up the release, but for future discussion (and perhaps public input): I do still wish there was a way to set the default zoom level when adding markers to an item. I understand that different sites within a single install may be working with different areas. However, setting a defau

[2016-07-15 14:11] jimsafley commented on #20
Why doesn't the "Set the current view as the default view" work here?

[2016-07-15 14:13] mebrett commented on #20
Because it only applies per item. I was thinking about an install-level default zoom.

[2016-08-02 19:55] alyssafahringer commented on #20
Tested in Chrome, Safari, Firefox - didn't find any bugs.

[2016-09-14 23:16] patrickmj opened #21 "Front admin page has error"
Pulled latest core and Mapping. Mapping is the only active module. Did install-deps.

Throws this on the main admin page (`/admin`)

[code]

[2016-09-14 23:42] jimsafley commented on #21
Try reinstalling if you haven't already.

[2016-09-14 23:44] patrickmj commented on #21
Thanks. That looks like it did it.

[2016-09-14 23:44] #21 closed, assigned to nobody

[2016-09-15 20:01] sharonmleon opened #22 "Multi-select for attaching items to Map Block in sites"
Would be nice to be able to select more than one at a time from the browse list, or to be able to find all the items in a set and attach them.

[2016-09-15 20:11] sharonmleon opened #23 "Map Browse page for sites not picking up CSVImported items with geolocation"
The items are getting mapping data attached to them individually, but when their added to a site pool and then the map browse page is added to that site it only displays items that have been geolocated by hand.

[2016-09-15 21:34] jimsafley commented on #23
I can't reproduce this. I imported the CSV, mapping the "lat" column to Map:Latitude and the "long" column to Map:Longitude. I then attached some items to a Map block. I see the markers on the public map. Check that you correctly mapped the columns and it's helpful to set a Default View when configuring the block.

[2016-09-16 00:53] sharonmleon commented on #23
Did you get many items at each site? Or just one?

Also, the page that I'm using is not a single page with a map block added, but rather the Map Browse that is available (autobuilt) through the Navigation interface.

[2016-09-16 01:04] jimsafley commented on #23
Ah, I was testing the Map page block, not the Map Browse. What I'm seeing are four different sites, at which are many markers with identical coordinates (the dark shadows are unmistakable). If anything, this shows me that the public maps need some kind of clustering to prevent markers with identical coordinates from overlapping.

![whoameka](https://cloud.githubusercontent.com/assets/141955/185722

[2016-09-16 01:13] sharonmleon commented on #23
Okay. I was confused because I was only able to click on one -- which made it seem like they were replacing each other rather than piling up.

Could we do a pin count, like we did with the Mall Histories stuff?

[2016-09-16 01:14] jimsafley commented on #23
Yes, with https://github.com/Leaflet/Leaflet.markercluster I'll create an issue.

[2016-09-16 01:15] sharonmleon commented on #23
Thanks!

[2016-09-16 01:16] jimsafley opened #24 "Add marker clustering"
See #23

https://github.com/Leaflet/Leaflet.markercluster

[2016-09-16 02:13] #24 closed, assigned to nobody

[2016-09-16 02:14] jimsafley commented on #23
@sharonmleon Pull from master and try out the marker clustering. If that works, is this issue resolved?

[2016-09-16 02:33] sharonmleon commented on #23
I seem to have broken something about my ability to add new pages to my site, but this fix works well. Thank you.

[2016-09-16 02:33] #23 closed, assigned to nobody

[2016-09-16 13:48] jimsafley commented on #18
Docs here https://github.com/omeka/omeka-s-enduser/blob/master/modules/mapping.md

[2016-09-16 13:48] #18 closed, assigned to nobody

[2016-09-16 13:48] #17 closed, assigned to nobody

[2016-09-16 13:49] #20 closed, assigned to nobody

[2016-12-19 17:09] sharonmleon opened #25 "Add License"

[2016-12-19 17:10] sharonmleon opened #26 "Add Readme"

[2017-02-21 01:12] sharonmleon opened #27 "Marker clustering not working with 1.0.0 beta release"
Clustering definitely worked with the alpha release, but currently I'm just getting one item when there are many pinned to the same location.

See: http://jesuitplantationproject.org/omeka-s/s/jpp/page/1838
There are 150 items between those two places

[2017-02-22 15:58] #27 closed, assigned to nobody

[2017-04-18 10:32] hajoki opened #28 "Map-Browse page not loading map without logging in"
The Map Browse page works fine when one is logged in (as the global administrator), but if one is not logged in the map does not load and it throws up the error "403 Forbidden. Omeka\Permissions\Exception\PermissionDeniedException: Permission denied for the current user to access the browse action of the Mapping\Controller\Site\Index controller. in /var/www/html/omeka-s/application/Module.php:395"

[2017-04-18 13:53] #28 closed, assigned to nobody

[2017-05-19 21:53] patrickmj opened #29 "Consider a default view"
If I put an item on the map but don't set the current view as the default view, there's a somewhat awkward situation where the show page on the admin side has the marker zoomed all the way in, but the edit page has it zoomed all the way out. Both of those make it hard to see what's going on.

Part of this will be a documentation thing, but calculating a reasonable box, maybe in the after save even

[2017-05-19 23:24] patrickmj opened #30 "No maps on public side"
On a page with one item with mapping data, added via Item with metadata, a map does not appear on the public side.

[2017-05-22 12:52] #26 closed, assigned to nobody

[2017-05-22 12:52] #25 closed, assigned to nobody

[2017-06-07 22:56] patrickmj opened #32 "Consider fallback to Item data when no media are added"
When there is no media attached to an item, the map bubble just says "View Item". It seems like it is looking for data from a media attachment (maybe also data from the pinning on the map itself?), and if it finds nothing doesn't put in any text. A fallback to trying to grab the title from the item might make sense when data isn't entered.

[2017-06-15 13:38] jimsafley commented on #22
Fixed in 453fcdf

[2017-06-15 13:38] #22 closed, assigned to nobody

[2017-06-15 16:30] #29 closed, assigned to nobody

[2017-06-15 16:47] jimsafley commented on #30
That layout only renders the item's values, item sets, and media. Since the map is none of these things, it's not possible to include it. I'm honestly surprised the layout doesn't link to the item show page, where the map is included.

[2017-06-15 17:34] #32 closed, assigned to nobody

[2017-10-05 14:50] patrickmj commented on #30
not sure we can put out a release candidate without this

[2017-10-05 15:01] zerocrates commented on #30
"item with metadata" is always going to be a problematic block just by its very nature

[2017-10-05 15:04] jimsafley commented on #30
The only viable solution I see is to include a link to the item show page. But I'm not sure why it was left out in the first place.

[2017-10-05 15:06] patrickmj commented on #30
ok. not intuitive, but I see the mechanism to make display happen. @mebrett has put in some good documentation, so I'm no longer worried.

[2017-10-05 15:06] #30 closed, assigned to jimsafley, zerocrates, kimisgold

[2017-10-05 15:16] patrickmj opened #34 "Default view settings not set"
On the admin side, creating the Mapping block and setting default view port, saving the page and going back to default view, the intended viewport is not preserved.

On public side, it looks like the default viewport is at the most zoomed-in level.

[2017-10-05 15:19] patrickmj opened #35 "Marker(s) not visible in admin Default View settings"
When setting the default view on a page mapping block, the location specified does not show a pin/marker for the location. That should be there as a guide to setting the default view.

This seems related to #34

[2017-10-11 03:45] kernsb opened #36 "Unable to add Item with Mapping data when role is less than Site Admin"
I am finding that I am unable to add an Item that includes Mapping data when the Role for the user is set to anything less than Site Administrator (Author, Reviewer, Editor). When attempting to do so, users with lesser roles receive a "Forbidden" error.

To make sure this wasn't just my installation, I duplicated the issue in the official Demo Sandbox. I set the omekasdemo3 account to the Author r

[2017-10-11 12:44] patrickmj commented on #36
Just to make sure I see what's happening, does this only happen when adding Mapping data? Or any item creation when in those lesser roles?

[2017-10-11 13:58] kernsb commented on #36
It is only when the item being added by those roles includes Mapping data. If you add all other data the same, but leave off the mapping data, the item creates successfully, as expected.

Brandon Kerns

On Oct 11, 2017, at 8:45 AM, Patrick Murray-John <notifications@github.com<mailto:notifications@github.com>> wrote:

Just to make sure I see what's happening, does this only happen when adding Mapp

[2017-10-11 14:02] patrickmj commented on #36
Thanks. That helps a lot. It might be an ACL problem specific to Mapping, or it might indicate a broader problem with how modules interact with core. (or something else, as always!) Those are just my first guesses, but things for us to look in to.

[2017-10-11 17:30] #36 closed, assigned to nobody

[2017-10-12 14:33] jimsafley commented on #34
I'm intermittently seeing what you describe on the admin side. The map is centered correctly but one zoom level away from where it was previously set. The inconsistency may be a product of our use of bounds to set the default view, but I've found no way to reproduce the bug consistently. There may be a strange interaction between the map loading and the user setting default bounds.

The public sid

[2017-10-16 16:52] kernsb opened #37 "Related to Issue #36"
The resolution for Issue #36 mostly resolved the issue with non-Admins getting a "Forbidden" error when adding an item with Mapping data. However, I have discovered that the non-Admin users still receive "Forbidden" if they set a default view for the map when adding Mapping data.

[2017-10-17 13:57] kernsb commented on #37
I am not seeing this as resolved with the a03e522 pull. I am still able to create and item with a map, but under an "Author" account, I am unable to use the "Set the current view as the default view" button, I still receive "Forbidden" upon creation.

[2017-10-17 14:32] patrickmj commented on #37
Thanks. It works okay on my installation, both as Editor and Author, so there's something more weird happening. If you haven't already, in the `.htaccess` could you change the application environment to `SetEnv APPLICATION_ENV "development"` to give more detailed error messages, and post of the entire error message here?

Also, what version of Omeka S are you currently on?

[2017-10-17 14:38] kernsb commented on #37
Sure thing, we're running on 1.0.0-rc.1. Here is the full error:
[code]

[2017-10-17 15:24] patrickmj commented on #37
Thanks. Sadly, still weird. I was hoping that permissions problem would be different from the `Mapping\Entity\Mapping resource`, but https://github.com/omeka-s-modules/Mapping/blob/master/Module.php#L34 and following seem like they should fix it. My change to that was got it working for me, at least.

My fallback is often to check if another module is affecting things, and deactivating others make

[2017-10-17 15:29] kernsb commented on #37
My apologies, it looks like my pull didn't take. I tried again to make sure, and sure enough after that time things are working! Thanks for your time, and sorry again for the mistake!

[2017-10-17 15:30] patrickmj commented on #37
No problem! There are gremlins everywhere.

[2017-10-17 15:30] #37 closed, assigned to nobody

[2017-10-24 18:10] mebrett opened #38 "Location search not working"
The search by name option to assign a point is only spinning, not returning results. Currently on latest commit of branch master.

[2017-10-24 18:11] mebrett commented on #38
<img width="425" alt="screen shot 2017-10-24 at 2 10 00 pm" src="https://user-images.githubusercontent.com/2314070/31960244-2866efc4-b8c5-11e7-8614-a4a907ff62a5.png">

[2017-10-25 20:30] jimsafley commented on #38
I can't reproduce this. Do you see any errors in your browser's console after entering a search?

[2018-04-09 04:45] Daniel-KM commented on #38
I had the same issue in one browser but not another one, and it is fixed in #41.

[2018-04-09 15:37] #38 closed, assigned to nobody

[2018-12-24 11:32] giocomai opened #43 "Option to store geolocation data as Dublin Core dcterms:spatial"
As far as I understand, geolocation data added through this module is apparently not stored along with other metadata, with a standard Dublin Core (or other) reference.

Wouldn't it be nice to give the possibility to store this data, e.g. in dcterms:spatial?

This could also, for example, facilitate integration with the [Storymap module](https://github.com/agile-humanities/agile-storymap).

As I s

[2019-01-23 16:36] jimsafley opened #44 "Performance issues with 100K+ located items"
See this forum post: https://forum.omeka.org/t/issue-with-mapping-module/8037

[2019-01-23 18:46] zerocrates commented on #44
They're reporting running out of memory on Resource Templates... does Mapping do anything there?

[2019-01-23 19:03] jimsafley commented on #44
Yes, Mapping hits the Resource Templates page, but it shouldn't. `Module::cacheItemMappingData()` listens to `api.search.post` and `api.read.post` on `Omeka\Api\Adapter\ItemAdapter`. I'm sure this is the culprit, and I'm sure we can find a better way to cache mapping data only when it's needed.

[2019-01-25 21:26] jimsafley commented on #44
Fixed in release v1.1.1

[2019-01-25 21:26] #44 closed, assigned to nobody

[2019-01-31 17:46] #34 closed, assigned to jimsafley

[2019-02-25 20:19] sharonmleon opened #45 "Accommodate WMTS forms for map layers"
https://www.opengeospatial.org/standards/wmts

[2019-03-21 15:51] jimsafley commented on #45
https://github.com/mylen/leaflet.TileLayer.WMTS

[2019-04-16 18:36] zerocrates opened #46 "Usage of multi-statement exec()"
See omeka/omeka-s#1399

[2019-04-17 20:03] #46 closed, assigned to nobody

[2019-05-20 21:42] sharonmleon opened #47 "Styling questions"
After playing with the time-mapper (https://github.com/omeka-s-modules/Mapping/tree/timeline) some I have questions about possible styling:

- Is it possible to shift the panes of the display? The horizontal panels seem kind of restrictive. So perhaps a vertical column of the item data on the left and a split pane on the right with the timeline on top and the map on the bottom?
- Can we control wh

[2019-06-05 16:37] jimsafley commented on #47
TimelineJS provides no option to decouple the slide panel (which contains the item data) from the timeline navigation. Perhaps @kimisgold can find a way to do it [using CSS](https://timeline.knightlab.com/docs/overriding-styles.html).

The marker popup content is currently hard-coded in `view/common/block-layout/mapping-block.phtml`, so it is not customizable. We could explore making it customizab

[2019-07-30 16:26] jimsafley opened #49 "Testing: timeline map"
The `timeline` branch introduces the option to add a timeline to a public Map block. This feature requires the NumericDataTypes module and at least one item that has a Timestamp or Interval value.

To test this you'll need to create a Resource Template that includes a Timestamp (or Interval) property. Then you'll need to create a few items that use the template, each setting a different NumericDat

[2019-08-12 14:35] mebrett commented on #49
Here's what it looks like: http://dev.omeka.org/mebrett/testomekas/s/publicviews/page/maps

NB for items with two locations (like the last item April 21, 1819) it zooms out to show both markers.

[2019-08-13 14:31] mebrett commented on #49
I tried including items which either had no mapping data or no numeric data. Items without numeric data are excluded from the timeline display; items without a map show up in the timeline but it simply zooms out to the biggest view when you click to it.

[2019-08-13 15:08] jimsafley commented on #49
For now I think everything here is within acceptable tolerances. After we get more feedback from stakeholders I'm going to merge the timeline branch into master and then come back to these specific concerns on the master branch if they become problems.

[2019-08-13 15:08] #49 closed, assigned to mebrett

[2019-08-14 15:35] kimisgold commented on #47
TimeMapper itself controls too much of the layout via JS for me to override with CSS. There might be some configuration options I can work with to do something about the layout, but at the moment, it looks like it's more trouble than it's worth.

Yes, the theme can provide custom bubble content by creating an overriding mapping block, and we can probably do that lightbox and media player.

We can

[2019-08-16 18:57] jimsafley opened #50 "Add timeline setting to disable flyToBounds()"
When `flyToBounds()` is disabled the default view will remain static when navigating between events.

[2019-08-16 19:00] jimsafley opened #51 "Timeline: Add timeline setting to select custom headline and text properties"

[2019-08-16 19:03] jimsafley opened #52 "The event headline should be a direct link to the item"

[2019-08-17 17:11] #50 closed, assigned to nobody

[2019-08-17 17:13] jimsafley commented on #52
Fixed in 78c17e520f303db7ea2c3d6ef927104268c37f61

[2019-08-17 17:13] #52 closed, assigned to nobody

[2019-10-02 15:28] kimisgold opened #53 "Look over timeline layout and styles"
Test with our supported themes, latest core, and master branch of the module that:

* the timeline now sits left of the map in a horizontal layout
* the timeline text uses the theme's font selections

[2019-10-07 15:58] mebrett commented on #53
Timeline is consistently to the left of the map, and the text uses fonts from the theme.
The left-positioning sticks on mobile view, fwiw.
![IMG_A8ADE0ED6FF8-1](https://user-images.githubusercontent.com/2314070/66327986-c5877380-e8f9-11e9-8f7b-4ab96172abab.jpeg)

[2019-11-11 18:36] #47 closed, assigned to kimisgold

[2019-11-11 21:10] kimisgold commented on #53
@mebrett Can you pull this latest change to see if it broke anything? The horizontal layout is awkward on mobile widths, so for those I now have the timeline in a single column layout with the map.

[2019-11-11 21:13] mebrett commented on #53
On master branch or the timeline branch?

[2019-11-11 21:14] kimisgold commented on #53
I pushed it to master since I think Jim's already merged the timeline branch.

[2019-11-11 21:19] mebrett commented on #53
The timeline flags are no longer clickable (but I now can't remember if they were previously)

[2019-11-11 21:32] kimisgold commented on #53
@mebrett You should be able to click on markers again in the latest commit on master.

[2019-11-11 21:37] mebrett commented on #53
@kimisgold it's working now. Things look good on desktop and mobile. There's still a bit of extra room on the right in Center Row in mobile, but everything's fine on the other three themes.

[2019-11-12 14:23] kimisgold commented on #53
Cool, I'm pretty sure the Center Row horizontal scrolling is a theme issue and Mapping is not at fault.

[2019-11-12 14:23] #53 closed, assigned to mebrett

[2019-11-15 19:22] jimsafley commented on #45
This issue isn't a blocker, per se, but it would make testing this feature much easier: https://github.com/alexandre-melard/leaflet.TileLayer.WMTS/issues/24

[2019-11-16 02:42] jimsafley commented on #45
The [wmts branch](https://github.com/omeka-s-modules/Mapping/tree/wmts) introduces WMTS overlays, with behavior near-identical to the existing WMS overlays. One major caveat, however: the [Leaflet plugin](https://github.com/alexandre-melard/leaflet.TileLayer.WMTS) this uses does not work with the few WMTS services I found. In addition to not working with ArcGIS (as explained in [this issue](https:

[2019-12-06 14:19] sharonmleon opened #54 "Timeline across the full width of the main div, below map"
Can we build out this front end configuration so that the timeline extends across the full bottom of the main div? That would leave the upper portiton of the display evenly split between the item pane and the map pane.

[2019-12-06 14:21] sharonmleon opened #55 "Timeline position controlling appearance of the pins on the map"
Currently, the forward and backward arrows in the item pane control the appearance of the pins on the map. Can we shift that control to the timeline so that if the timeline is in a particular spot it shows all of the items that are located within that time period, not just the one that is active in the item pane?

[2019-12-06 14:22] sharonmleon opened #56 "Mobile styling"

[2019-12-06 17:25] jimsafley commented on #55
My sense is that many users will not want this to be the default behavior—they will only want to see the markers of the _current_ event, not every marker of every event that share the same time period.

Even so, given how TimelineJS organizes events, this feature will be difficult to implement. Individual events are completely unaware of other events, so making the comparisons needed to select con

[2019-12-06 17:30] sharonmleon commented on #55
I realize that this might be the primary users' desire, but it is the desire of the client who is paying for the module.

Am I understanding correctly that the interval of the date has nothing to do with the way that the pins appear on the map? The request is that the pin remain visible for the entire interval. I'm not sure that that requires the items to be aware of one another.

[2019-12-06 17:33] sharonmleon commented on #55
Also, I imagine that this would only make sense for a user who has selected the "don't fly" mode in the map view.

[2019-12-06 17:39] jimsafley commented on #55
I mention that this might not the primary users' desire only to indicate that such an option should be a configurable, not because I'm trying to cause friction against the wishes of a paying client.

Yes, the interval of the date has nothing to do with the way that the pins appear on the map. TimelineJS paginates from one event to another, not from one time period to another.

[2019-12-06 18:58] sharonmleon commented on #55
And my suggestion that the feature is a connection to the contract was more to suggest that it might be better to be a fork/one-off fix?

[2019-12-06 19:04] jimsafley commented on #55
I'm currently working on this. I stand behind my initial assessment that this will be difficult to implement, but if we are to make it work for one user, we should make it work for all, especially given that making it configurable is the only thing we need to generalize the feature.

[2019-12-06 19:16] kimisgold commented on #56
Mapping with the timeline block has mobile styles—the theme itself has overrides that need to be updated.

[2019-12-06 19:16] #56 closed, assigned to kimisgold

[2019-12-06 20:47] jimsafley commented on #55
I've implemented the feature on the [show-contemporaneous branch](https://github.com/omeka-s-modules/Mapping/tree/show-contemporaneous). I need to think on it a bit (and perhaps make some changes) before I make a testing issue.

[2019-12-09 14:45] jimsafley commented on #54
@kimisgold The timeline nav consists of the `tl-timenav` and `tl-menubar` divs. Can you visually move these under the map? (We can control the position of the timeline nav using the `timenav_position` configuration, but this only controls whether it's immediately above or under the slide div.)

[2019-12-09 15:45] kimisgold commented on #54
Yes, I can. If you provide a branch with the desired configuration setup, I'll draft the styles there.

[2019-12-09 16:10] jimsafley commented on #54
The master branch already has the desired configuration setup.

[2019-12-11 13:49] jimsafley commented on #54
@kimisgold In 98ab56af387c3718ca24110b9e04ca44d3586900 I changed `.full-width` to `.timenav-full-width-below`. This is an attempt to allow for additional timenav positions, should we want them. For example, a hypothetical `.timenav-full-width-above` would indicate that the timeline navigation goes the full width above the story slider and map. Do you think this is a good approach to naming the cla

[2019-12-16 18:33] jimsafley opened #57 "Testing: show contemporaneous events"
The [show-contemporaneous](https://github.com/omeka-s-modules/Mapping/tree/show-contemporaneous) branch introduces a timeline configuration that toggles whether to show all events (i.e. items) on the map that exist in the same time period as the current event.

For **timestamp** properties, all events that have the same timestamp as the event in the story slider should display on the map. So if tw

[2019-12-16 19:40] jimsafley opened #58 "Testing: full-width timeline navigation"
The [full-width-timeline](https://github.com/omeka-s-modules/Mapping/tree/full-width-timeline) branch introduces a timeline configuration that controls the layout of the timeline navigation. Users can select from three layouts:

- "Default view" (the timenav is in the default position under the story slider)
- "Full width, below story slider and map"
- "Full width, above story slider and map"

We

[2019-12-17 16:23] mebrett commented on #58
Options apply as expected, and display works across all four official themes.

The map/text area scales when the timeline is above or below, but sometimes it gets very large, to the point where it's four or five times the height of the timeline. It's not a problem, per se, just an oddity in display.
![Screen Shot 2019-12-17 at 11 21 40 AM](https://user-images.githubusercontent.com/2314070/71014279

[2019-12-17 16:38] mebrett commented on #57
Interval is working as expected. (Note to self - if people are going to use this, they will need/want to label their markers, so you can tell which is which. Will need to state that in the documentation)

[2019-12-17 16:54] mebrett commented on #57
It does work for timestamp - I had to completely delete the existing map+timeline I had with timestamp, and create a new one with the same items in order to get it to work.

[2019-12-17 16:55] mebrett commented on #57
Styling note that it would be helpful to be able to collapse the description for this function, as it takes up a lot of screen real estate
![Screen Shot 2019-12-17 at 11 35 52 AM](https://user-images.githubusercontent.com/2314070/71017071-0d7a0200-20c4-11ea-8646-f1c2453a390d.png)

[2019-12-17 16:56] jimsafley commented on #57
You had to delete the map/timeline block? That's troubling. How did it break the old map/timeline?

[2019-12-17 17:00] mebrett commented on #57
First, I made a new event at the exact same date as an event I already had in the system (prior to pulling the branch). Then I added that event to the map/timeline block. Regardless of whether I checked the "show contemp" or not, it never showed both events on the map at the same time. I tried deleting just those two events and re-adding them, but they still displayed separately.

[2019-12-17 17:14] jimsafley commented on #57
I'm pretty sure that was a caching issue. I just reproduced the bug, did a hard refresh, and it's working now.

[2019-12-17 17:50] mebrett commented on #57
I tried a hard refresh, but caching makes sense too

[2019-12-17 18:47] sharonmleon commented on #57
So, I updated the module. Then I went and created two items, added them to the map and switched the timeline from interval to timestamp. They did appear simultaneously, as did the other items I already had with the same timestamps.

[2019-12-17 19:04] jimsafley commented on #57
@sharonmleon Does this satisfy the behavior you wanted in #55? I'm still a little concerned about the bug that @mebrett saw, but I can't reproduce it anymore and it seems to have worked for you. Ideally we'd have more people testing this, but I could just merge now.

[2019-12-17 19:28] sharonmleon commented on #57
Yes, as far as I understand the feature request, this does it. I did clear my cache before testing and I had no issues, so I think we can merge it.

[2019-12-17 19:31] #55 closed, assigned to jimsafley, kimisgold

[2019-12-17 19:31] #57 closed, assigned to mebrett

[2019-12-17 19:35] jimsafley commented on #58
@kimisgold Could the scaling that @mebrett mentions above be a product of the new styles?

[2019-12-18 14:56] kimisgold commented on #58
Yes, I used 60vh as the default for the text and map area—I figured that giving those two areas more room would be desirable, but I can see how it could look a little odd. The timeline is fixed at 165px from the plugin itself, and its styles are involved to the point where I thought I'd leave that be.

[2019-12-18 15:01] jimsafley commented on #58
Do you think we can reasonably convince users that this is, as @mebrett says, not a problem, per se, but an oddity in display? If so then I think we can merge.

[2019-12-18 15:38] #58 closed, assigned to mebrett

[2019-12-18 15:38] jimsafley commented on #54
Feature added in cfef141a8caaebaec4bbf49fa977bd66cac93c78

[2019-12-18 15:38] #54 closed, assigned to jimsafley, kimisgold

[2020-01-27 12:04] rafaeluriarte opened #59 "Lat and long Formats"
While trying to import items (csv import) with lat and log I get the following error in the import logs:

`2020-01-27T10:38:10+00:00 ERR (3): exception 'Omeka\Api\Exception\ValidationException' in /var/www/omeka-s/application/src/Api/Adapter/AbstractEntityAdapter.php:567
Errors:
{
    "o-module-mapping:lat": [
        "A marker must have a numeric latitude."
    ],
    "o-module-mapping:lng": [

[2020-01-27 13:40] #59 closed, assigned to nobody

[2020-01-27 14:05] rafaeluriarte opened #60 "Add Item set and Item labels in the map"
1 - Being able to select multiple items to add as attachment is nice but when you have too many items, it might take to long, as in my case (selecting 500, one by one). It would be great to be able to attach an item set or the results of a search ("Add All").

2 - The map shows only "View Item" link, without label or image. It would great to be able to set a default property as label and a default

[2020-04-09 16:03] emmareisz commented on #45
Hi @jimsafley, WMTS support would be so useful - thanks for looking into this.
I actually couldn't get the wmts branch to load (invalid Module.php) so I couldn't test it - I don't know much about Omeka S modules so maybe I've missed something obvious? Thanks!

[2020-04-09 19:35] jimsafley commented on #45
That's odd,. An "invalid Module.php file" error means the Module.php file is missing, is not readable, or does not extend `Omeka\Module\AbstractModule`. Are any of those conditions true?

[2020-04-13 19:56] jimsafley opened #62 "Poorly formatted Map prompt"
When rendering a collecting form with a Map prompt, the map's geosearch search bar is poorly styled. It should also be closed by default.
![Welcome · My Site · Omeka S2](https://user-images.githubusercontent.com/141955/79155521-3e7ef080-7d9f-11ea-81d9-b2f9ccd313f4.png)

[2020-04-13 20:38] zerocrates commented on #62
The visual issue, at least, is coming from Mapping: asset/css/mapping.css overrides this input's styles with these broken ones. That sheet is used only for the collecting map.

Removing it completely eliminates those issues, not sure if this was providing defensive overrides to some theme's styles or what such that it should be updated instead.

The bar being open is specifically being done for th

[2020-04-13 20:44] jimsafley commented on #62
@kimisgold

Do you know anything about this?

[2020-04-14 18:42] kimisgold commented on #62
John's seems the most likely, though the current styles in mapping.css look bad in all the themes. I'll update the styles.

[2020-04-14 19:04] kimisgold opened #61 "Cannot close location search input once opened"
Clicking on the location search's 'x' button does nothing once the input has been opened. I've also noticed that when using Mapping within the Collecting module in the public views, markers get placed underneath wherever I click on the open location search input.

[2020-04-14 20:19] jimsafley commented on #61
The magnifying glass closes the input. The "X" removes any text in the input.

[2020-04-14 20:20] kimisgold commented on #61
Ah, shows how long it's been since I used Mapping. Are you at least able to see the issue with the marker showing up behind the open input on public views?

[2020-04-14 20:32] zerocrates commented on #61
Yes, I mentioned that same problem in the Collecting-side issue. And if I dig around a little, I'm fairly certain someone has reported it in some other channel as well.

[2020-04-14 20:32] kimisgold commented on #61
Sorry for the duplicate!

[2020-04-14 20:32] #61 closed, assigned to nobody

[2020-04-14 20:34] zerocrates commented on #62
The forum report on the collecting-mapping "marker under the search input" problem is https://forum.omeka.org/t/mapping-marker-location-placement-in-collecting-prompt/10438

[2020-04-14 20:41] zerocrates commented on #62
So, do we _want_ to restore the default behavior of the geosearch bar (closed by default)? It was set to be default-open on purpose; changing it to not do that is simple.

The problem with clicks going "through" the bar, must just be that geosearch doesn't make its container consume click events. A `stopPropagation` on click events for the geosearch control should prevent them from also being seen

[2020-04-14 22:09] jimsafley commented on #62
I'm going to keep the geosearch bar open by default.

[2020-04-15 03:11] jimsafley opened #63 "Testing: Confirm that JS updates didn't break the maps"
The [js-update branch](https://github.com/omeka-s-modules/Mapping/tree/js-update) updates key scripts that power the various maps that this module provides. Test every map on the admin and public interfaces. There should be no change to their behavior.

[2020-04-15 19:26] mebrett commented on #63
which branch of core - develop? or master?

[2020-04-15 19:41] jimsafley commented on #63
The current 2.x version, so master, I think.

[2020-04-15 19:42] zerocrates commented on #63
it would be master, yeah. or release-2.1.

[2020-04-16 15:18] mebrett commented on #63
The location search bar isn't doing anything - I can put an address in and it just sits there.

[2020-04-16 15:25] jimsafley commented on #63
I can't reproduce. Try emptying the cache and hard reloading. Do you see any errors in the debugging console?

[2020-04-16 15:34] mebrett commented on #63
Ah - apparently it's an issue with Open Street Map (distinct lack of robust addresses for rural North Carolina)

[2020-04-16 19:41] jimsafley commented on #62
Apparently, triggering the `click` event on the geosearch bar causes the page to focus on the map when it initially loads. This is definitely buggy behavior, so I'm just going to keep the bar closed by default.

[2020-04-16 19:43] #62 closed, assigned to kimisgold

[2020-04-16 23:02] lmullen opened #65 "Mapping tiles served over http cause warning in some browsers"
In Firefox, the Open Street Map tiles which are served over http cause a warning in the user's address bar and console if the Omeka site is served over https.

<img width="764" alt="image" src="https://user-images.githubusercontent.com/183672/79514656-b9047600-8014-11ea-8f37-f89cbea1376c.png">

<img width="1079" alt="image" src="https://user-images.githubusercontent.com/183672/79514677-c3267480-80

[2020-04-16 23:42] #65 closed, assigned to nobody

[2020-04-17 00:23] jimsafley commented on #60
1. An "Add all" feature is a good idea, but it wouldn't be specific to this module and will likely require a significant change to the way items are attached to blocks. I've [opened an issue](https://github.com/omeka/omeka-s/issues/1544) over on the omeka-s repository.

2. You need to set a marker label and marker image when editing your items.

[2020-04-17 11:16] rafaeluriarte commented on #60
Thank you very much. About number  2, do I need to edit one by one? Isn't there a way to use thumbnail of the item and title?

[2020-04-17 17:55] kalbers commented on #60
Rather than attaching, we could utilize a query the way the current Browse block works, tying the results to the map. This would be in a different map block.

[2020-04-18 23:17] jimsafley opened #66 "Testing: New Mapping block"
The [map-query](https://github.com/omeka-s-modules/Mapping/tree/map-query) block introduces the new "Map by query" site block. It's identical to the existing map block (now named "Map by attachments") except that items are attached to the map via a user-defined query - similar to the "Query" input in the "Browse preview" block. Make sure both map blocks work as expected, and that the new map block

[2020-04-20 15:11] mebrett commented on #66
Testing against master of core?

[2020-04-20 15:12] jimsafley commented on #66
Yes, test against the master branch.

[2020-04-20 19:08] mebrett commented on #66
Double checked that having non-mapped items in the search results doesn't break the map (it doesn't).

If searching by item set, the map only displays items which are are also in the site's resource pool. If an item is part of the search results but not the item pool, then the item is not displayed.

[2020-04-20 19:31] jimsafley commented on #66
That's not supposed to happen. Something must be applying the site filter. Are you sure your query doesn't contain `site_id=`?

[2020-04-20 19:33] mebrett commented on #66
The query, as copied from the advanced search results on the admin site, looks like this: `?fulltext_search=&property%5B0%5D%5Bjoiner%5D=and&property%5B0%5D%5Bproperty%5D=&property%5B0%5D%5Btype%5D=eq&property%5B0%5D%5Btext%5D=&resource_class_id%5B%5D=&resource_template_id%5B%5D=&item_set_id%5B%5D=48&site_id=&submit=Search`

[2020-04-20 19:35] mebrett commented on #66
It's working as you say, now. I'm not sure why the non-resource items weren't displaying before (I haven't changed anything with the item).
If/when we implement, we should make it clear that it will include anything that matches the terms, regardless of site-resource limits.

[2020-04-20 20:18] jimsafley commented on #66
Your concerns are well founded. I've made it so only items that are assigned to the current site will be displayed in the map. This brings it into line with the behavior of the "Browse preview" block.

[2020-05-11 14:29] #63 closed, assigned to mebrett

[2020-05-11 16:20] jimsafley opened #67 "Configurable base map and overlays"
See [this post](https://forum.omeka.org/t/change-base-map-from-osm-streets/11035). We could allow users to set a base map and select-able overlays from the list of providers in `leaflet.providers`. Of course we would have to warn them that the providers come as-is - there's no guarantee of service or speed. (In fact, the unreliability of many available providers is why we've pre-selected the most

[2020-05-13 00:45] jimsafley opened #68 "Configurable marker pop-ups"
See this [forum post](https://forum.omeka.org/t/add-title-to-all-map-markers/10285).

[2020-05-15 00:59] jimsafley opened #69 "Testing: Configurable default basemap provider"
The [default-basemap-provider](https://github.com/omeka-s-modules/Mapping/tree/default-basemap-provider) branch introduces configurable default basemap provider for Mapping's page blocks and custom link.

In site Pages, the "Map by attachments" and "Map by query" blocks should now have a "Basemap provider" select menu under "Default View". By selecting one, you are choosing the provider that Leafl

[2020-05-15 14:53] sharonmleon commented on #66
In testing this block, I've lost the image to set the map default view. I had the Map by attachment block above it. Once I deleted and reloaded, the default setting for this one returned. So, there might be a hint of an overload when both are in use?

[2020-05-15 15:43] sharonmleon opened #70 "Inherit styles from the theme"
@kimisgold My impression is that the mapping module blocks should inherit the styles from the theme, but my current test is not pulling link colors or accents in the timeline view.

http://6floors.org/teaching/black-reconstruction-legislators/s/black-reconstruction-officeholders/page/welcome

[2020-05-15 18:09] kimisgold commented on #70
Could you point to a particular area where the styles aren't pulling in link colors or accents? I'm seeing fonts and and link colors in the timeline within this screenshot.

![Screen Shot 2020-05-15 at 2 07 03 PM](https://user-images.githubusercontent.com/606764/82082243-a766ca80-96b5-11ea-895e-271a70cee8a0.png)

The module has some of its own styles, so if anything isn't being picked up from the

[2020-05-15 23:39] sharonmleon commented on #70
Maybe it's my monitor? But that Title link on the left side is kind of an orange-red, and the roll-over is very dark. On the main theme the roll-over is an underline accent, but no color change. Is it possible that it's just about the weight of that header link, and again, my aging eyes?

[2020-05-18 00:56] jimsafley commented on #66
I can't reproduce this. I added a "Map by attachment" block then a "Map by query" block and both default view maps render as usual. Has this happened to you since? If you can't reproduce it I suspect that either OSM had a momentary loss of service or your cache needed to refresh.

[2020-05-18 01:08] sharonmleon commented on #66
It happened a couple of times that day, but I can't reproduce it today.

[2020-05-18 01:09] sharonmleon commented on #66
Reopened, since I wasn't sure if Megan was done.

[2020-05-18 01:36] jimsafley opened #71 "Configurable item add/edit map"
See [this post](https://forum.omeka.org/t/default-location-when-mapping/11082). It would be nice to have the configurations that are available on the Mapping block somehow available to the item add/edit map. The best approach may be a user setting where individual users can customize the way their item add/edit maps are configured. This would include default bounds, basemap provider, perhaps WMS o

[2020-05-18 19:15] mebrett commented on #69
Does it matter which branch of Omeka S?

[2020-05-18 20:45] jimsafley commented on #69
It should work on the master branch.

[2020-05-19 18:06] mebrett commented on #69
Need to remember in the documentation to note that some basemaps don't work at deep zoom, so to check before going public.

For the Map Browse from Navigation, it tries to open something when I click the edit button, but I don't see any options.

[2020-05-19 19:09] jimsafley commented on #69
Thanks for catching that. It should be fixed now. I've also added a "[Default provider]" option to the Mapping blocks and nav page configurations. They should render to the OpenStreetMap.Mapnik provider.

[2020-05-19 20:00] mebrett commented on #69
I see it now, and it works.
Is the Map Browse page meant to have search options under the map? (I've never used it before)

[2020-05-19 20:01] jimsafley commented on #69
Yes, it's pretty much a browse page like any other, except the advanced search is on the same page.

[2020-05-19 20:21] mebrett commented on #69
Thanks. I'd say this is good to go.

[2020-05-19 20:21] #69 closed, assigned to mebrett

[2020-05-19 20:39] jimsafley commented on #67
Fixed in 34640b2118fbe6ae2e551a16bac3fcded1a959e1

[2020-05-19 20:39] #67 closed, assigned to nobody

[2020-05-21 13:21] rafaeluriarte commented on #60
Sorry but for insisting but about question 2,  isn't there a way to show thumbnail of the item and its title instead  only "view item" (as in the screenshot)?

(Just found the answer - for now we can only edit Mapping/view/common/block-layout/mapping-block.phtml )

[2020-05-21 17:00] #60 closed, assigned to nobody

[2020-05-21 17:01] #66 closed, assigned to mebrett

[2020-05-21 19:38] jimsafley opened #72 "Testing: Configurable min/max zoom levels for Mapping blocks"
The [config-map-block-zoom](https://github.com/omeka-s-modules/Mapping/tree/config-map-block-zoom) branch introduces configurable minimum zoom level and maximum zoom level for Mapping blocks (by attachment and by query). Once set, the public map's zoom limits should be constrained by the configured limits.

[2020-05-22 15:38] mebrett commented on #72
Master of core?

[2020-05-22 15:58] jimsafley commented on #72
Master

[2020-05-22 17:35] mebrett commented on #72
It works as expected - sometimes takes a little doing to find the right numbers.

It did allow me to set the min zoom at a smaller number than max zoom (15 and 10). It seemed to just apply the 15 and ignore the 10

[2020-05-23 01:12] jimsafley commented on #72
I added the current zoom level to the map block form, which should provide enough context to make good decisions when setting the minimum and maximum zoom levels. Given this addition I don't think it's worth the trouble to prevent the user from making bad decisions. What do you think?

[2020-05-26 15:39] mebrett commented on #72
I see that and it updates as I zoom in or out.
I agree that we don't need to prevent bad decisions, especially since it doesn't seem to break the module.

[2020-05-26 15:42] #72 closed, assigned to mebrett

[2020-06-01 15:45] kalbers opened #73 "Map capable of being zoomed out to show multiple instances of each place"
eg, on the item edit page, the map can be zoomed out to show five instances of each continent.

![Screenshot from 2020-06-01 11-42-46](https://user-images.githubusercontent.com/371262/83426577-5a952a80-a3fd-11ea-8871-94ef5eb09203.png)

This is then reflected on pages such as browse pages, which will have pins in different instances of the same continent.

[2020-06-01 19:35] #73 closed, assigned to nobody

[2020-06-08 21:57] #1 closed, assigned to nobody

[2020-06-08 21:57] #35 closed, assigned to jimsafley

[2020-06-23 19:00] GitByrd opened #75 "Map Browse doesn't filter item sets"

[2020-06-23 19:08] #75 closed, assigned to nobody

[2020-06-23 20:27] GitByrd opened #76 "Map Browse not filtering item sets"
I am just noticing that when I select an item set on the map browse page and search, it will not filter out the appropriate items, and instead include items from other item sets and sites. I have the site settings set to only show attached items and have set the item sets in its resources. Is there a way to make the map only show particular item sets, especially for its own site?

[2020-07-07 15:31] jimsafley opened #77 "Customize marker icons according to some criteria"
See [this post](https://forum.omeka.org/t/markers-based-on-resource-template-in-mapping-module/11434). There is interest in allowing users to customize marker icons according to some criteria, say for a specific class(es) or resource template(s).

[2020-07-07 17:12] jimsafley commented on #76
Thanks for reporting this bug. I believe it's now fixed in 6fe0cc2dce7fc64d4706615b7f03e32950f54d15. It'll be available in the next release.

[2020-07-07 17:12] #76 closed, assigned to nobody

[2020-09-14 20:15] sharonmleon opened #78 "Timeline not loading on older Windows browsers"
User is reporting:

There is definitely a bit of theme tuning to be done here to load foundations.js appropriately, but it looks like something has happened on the Knight lab end that breaks the loading of the timeline.js?

@zerocrates Reports on debugging:

getting the error from timeline.js from Knight though
that could be an issue they introduced on that end, the timeline is using a "latest" UR

[2020-09-16 13:10] #78 closed, assigned to jimsafley

[2020-11-17 23:23] jimsafley opened #79 "Timeline: events may overlap at the highest zoom level when they share the same or similar date"
See [this post](https://forum.omeka.org/t/stacked-items-on-mapping-module-timeline-at-max-zoom-level/12097).

The default TimelineJS [`zoom_sequence`](https://timeline.knightlab.com/docs/options.html) needs to be modified to accommodate many events that share the same or similar date. So, in `Mapping\Site\BlockLayout\AbstractMap::getTimelineOptions()`, adding

[code]
to the array may provide enoug

[2020-11-26 21:41] giocomai opened #80 "map-browse throws error when public geo-located item has a "private" media"
If any of the items available to a site has visibility set to "public", but its related media has visibility set to "private", the "/map-browse/" page of the site just throws an error with no further details.

I understand this is an unusual situation, but I still feel this is a bug, as changing the visibility setting of an item basically breaks the website.

The issue appears only to website visi

[2020-12-13 21:39] giocomai opened #81 "Missing translation for timenavPosition options"
Options and parameters in the Mapping module are nicely translated.

However, the timenavPosition options in `/view/common/block-layout/mapping-block-form.phtml` are hardcoded in English, see:

[code]

[2020-12-28 18:10] alexdryden opened #82 "Radius search throws Doctrine error"
Described in the forums [here](https://forum.omeka.org/t/search-by-geographic-address-in-mapping-module-throws-error/12280), when using the search feature at `<domain>/s/<site_name>/map-browse`, Doctrine returns a semantic error:
[code]
The alias `distance` is created [here](https://github.com/omeka-s-modules/Mapping/blob/26ebbfe1a2267f2ac26c98e6626bde8189f30a0e/src/Api/Adapter/MappingMarkerAdapte

[2021-01-04 17:03] jimsafley commented on #82
This is due to an optimization change in Omeka that strips all columns from the SELECT clause when calculating the total count.

Thank you for troubleshooting this issue. We will definitely appreciate a pull request.

[2021-01-05 23:07] #82 closed, assigned to nobody

[2021-01-05 23:10] alexdryden commented on #82
Ah, that makes sense. @jimsafley would you mind pointing me to the release where those optimizations where introduced?

[2021-01-05 23:16] jimsafley commented on #82
It's here https://github.com/omeka/omeka-s/commit/5cded839b2af4f20cdbc36a95d5b4063587fd717. In particular the `$countQb->select('1');`

[2021-01-14 18:25] alexdryden commented on #82
Thanks!

[2021-01-14 18:43] alexdryden commented on #71
@jimsafley could [this](https://forum.omeka.org/t/generic-village-town-location-with-mapping-module/10086/3l) fit within this issue as well? Both are something I would be interested in working on in my spare time starting within the next few months if they are features where you would accept a pull request.

[2021-01-15 20:21] zerocrates commented on #71
I think the answer here is that we're always happy to look at pull requests. This issue especially I think would be a good fit for a pretty limited change that just adds the kinds of user settings Jim talked about in his description here.

The other issue you linked to, people would obviously be interested in that one too: I think it doesn't necessarily go along with this one though. They seem lik

[2021-01-15 20:43] alexdryden commented on #71
Thanks John--I think I got mixed up put this comment on the wrong issue. I was thinking #77 might have some overlap with different kinds of makers that represent different kinds of spaces/areas. Any rate, sounds like I might as well just open it up as another issue.

[2021-03-16 19:59] #81 closed, assigned to nobody

[2021-03-16 20:15] jimsafley commented on #80
I cannot reproduce this. I have a public item with a private media and I can view the map browse page while logged out. I'll continue looking into this.

[2021-07-22 08:43] Daniel-KM commented on #43
Last version of module [DataType Geometry](https://gitlab.com/Daniel-KM/Omeka-S-module-DataTypeGeometry) allows to sync properties and mapping data (in one way or both).

[2021-07-22 08:44] Daniel-KM commented on #43
And it has a special datatype to manage latitude and longitude with a normalized way.

[2021-08-06 17:40] sharonmleon opened #85 "Add Query Builder to Map by Query block"

[2021-08-10 16:25] #85 closed, assigned to jimsafley

[2021-08-27 10:20] gtnbssn opened #86 "Allow a large number of items to be displayed on the map"
We stumbled on this issue where our map is not showing all of the items saved in Omeka S. Others have reported it on the forum: https://forum.omeka.org/t/mapping-module-restricted-number-of-items-on-the-map/11007

Is this still being worked on?

I'm not exactly a great php coder, but i'd be happy to look into it if i can make sense out of it!

[2021-08-27 10:56] jimsafley commented on #86
Have you tried using the "Map by Query" block? If you're having the same problem described by the forum post, using that block instead of the "Map by Attachment" block should work.

[2021-08-29 12:17] coret opened #87 "Storing and showing LineStrings (for streets)"
I want to store and show street geometries on a map.

I assume asWKT is the right property for this?
I have installed the [Data Type Geometry](https://gitlab.com/Daniel-KM/Omeka-S-module-DataTypeGeometry) so I can declare the type as Geometry.
An [example value](https://www.goudatijdmachine.nl/data/referentie/document/ark:/60537/bhh5aK) being `LINESTRING (4.7094252705574 52.0085784956308,4.7098919

[2021-09-06 06:11] gtnbssn commented on #86
Thanks, i think this will work for us! I'll close this issue.

[2021-09-06 06:11] #86 closed, assigned to nobody

[2021-09-10 21:00] jimsafley commented on #87
The Mapping module does not support LineStrings. Perhaps you are referencing a 3rd-party module?

[2021-10-18 13:02] mdavismcd opened #88 "Alt text Missing on Item Marker Image"
Can alt text be added to the media selected as the marker image? I have the alt text module added. I also tried adding alt text manually in the media tab, but the mapping module doesn't pull it.
Example code with WAVE tool
[code]
[Example site](https://digitalprojects.davidson.edu/omeka/s/encyclopedia/page/carolina-inn)

WAVE detects missing alt text when the marker isn't selected (hidden error) a

[2021-10-18 16:34] #88 closed, assigned to nobody

[2021-10-18 16:36] jimsafley commented on #88
I've updated the module to automatically use the alt text as provided by the AltText module. The change will be available in the next release.

[2021-10-18 18:43] mdavismcd commented on #88
Some of the best support both in forums and Github come from the Omeka folks! THANK YOU!

[2021-10-18 18:48] mdavismcd commented on #88
I just updated the same line of code in my same mapping module file, cleared the cache, but I'm still not seeing the alt text of the marker image.

[2021-10-18 20:53] jimsafley commented on #88
Try updating using the most recent commit.

[2021-10-19 12:35] mdavismcd commented on #88
This did the trick for the marker image alt text! Thanks so much.

I'm also using the Mapping timeline integration with the [Numeric Data Types Module](https://github.com/omeka-s-modules/NumericDataTypes) and am discovering more alt text missing from the media. Two img class examples below:
`<img class="tl-timemarker-media"`
&
`<img class="tl-media-item tl-media-image tl-media-shadow"`

Should I o

[2021-10-19 12:42] jimsafley commented on #88
Those images are rendered indirectly by the JS timeline library, not directly by this module's code. I'll look into how difficult it would be to inject the alt attribute into those tags, but we may have to overlook this for now.

[2021-10-19 12:43] mdavismcd commented on #88
Understood. Thanks so much for looking into it. If I need to open an issue with the Timeline JS folks, I'm happy to do so! Thanks again!

[2021-10-19 16:09] jimsafley commented on #88
Try the most recent commit 1ec036c462a75d87f628b8167b7d3428115cc842

[2021-10-19 17:45] mdavismcd commented on #88
Making that one change, I get the following
Error
Call to undefined method Omeka\Api\Representation\MediaRepresentation::altText()

Details:

Error: Call to undefined method Omeka\Api\Representation\MediaRepresentation::altText() in /home/inkandbo/digitalprojects.davidson.edu/omeka/modules/Mapping/src/Site/BlockLayout/AbstractMap.php:317
Stack trace:
0 /home/inkandbo/digitalprojects.davidson.edu/o

[2021-10-19 17:48] jimsafley commented on #88
This change will only work with the most recent version of Omeka S (v3.1.x). You'll need to upgrade Omeka S. The most recent version of Mapping module requires Omeka S v3.1.x, so you'll need to upgrade anyway for the module to work once we release these changes.

[2021-10-19 17:53] mdavismcd commented on #88
Ah, that makes sense! I'm sorry to open an issue on a previous version. I greatly appreciate your help with this.

[2021-12-21 11:21] grandgeorg opened #89 "CSV import default map view attributes have no effect"
When importing via CSV the default map view attributes (default zoom, map center longitude, map center latitude) have no effect at all. In fact nothing from these settings gets imported to the database. It does not matter if resource location (lat & lng) is set or not for the import.

[2022-02-10 00:32] #87 closed, assigned to nobody

[2022-02-23 15:51] mufticsanjin opened #90 "Setting Default Zoom Level for Item Show"
Hi,
Thanks for the module. I would like to know if it is possible to set a default zoom level for the map when it is part of an item show page. Right now the zoom is at the most extreme, which does not provide enough context for the location in a lot of cases. Where about in the module files could one go and edit the default zoom to be something that is slightly higher up? I have about 4000 items

[2022-08-02 13:51] jimsafley opened #91 "Testing: User-entered marker label on Collecting form"
Commit 39616f4cd03f78de1c2d5e8b27e2e24a93f7ff05 introduces the ability to label markers on maps in collecting forms. To test this you'll need to have the Collecting module installed, add an "Item media" > "Map" prompt, and add the form to a page. Go to the form on the public site and you should see an "Enter a marker label" input under the map. Enter a label and submit the form. View the new item

[2022-08-03 17:15] katknow commented on #91
This seems to work as described. The one concern I have (which may just be cleared up with documentation) is that if people make the map a required field if they'll think they're making the marker label required, not just the pin itself.

[2022-08-29 19:42] jimsafley opened #92 "Documentation: User-entered marker label on Collecting form"
See #91

[2022-08-31 17:55] katknow commented on #92
I wasn't sure exactly where this should go, so I just added to the end of the "Adding locations to an item" section in the Mapping documentation. [You can view the draft here.](https://github.com/katknow/Drafts/blob/b49c5bb65f82f9e6aa19dd7a65c74a1c0c00df46/mapping-usermarkerlabel.md) I'm happy to make any changes, and when it's good to go I'll push it to the end user repo.

[2022-08-31 18:19] jimsafley commented on #92
Looks good to me!

[2022-08-31 18:31] sharonmleon commented on #92
Let's not close this until we get it into place in the docs.

[2022-08-31 18:41] sharonmleon commented on #91
I'm not convinced that this documentation actually belongs in the Mapping page; I think it might need to go in Collecting. Or something in both spots?

We should consult with @allanaaa

[2022-08-31 18:41] #91 closed, assigned to sharonmleon, katknow

[2022-08-31 18:41] sharonmleon commented on #92
I'm not convinced that this documentation actually belongs in the Mapping page; I think it might need to go in Collecting. Or something in both spots?

We should consult with @allanaaa

[2022-09-06 15:37] allanaaa commented on #92
Yes, I would put this material on the Collecting page, and put a quick mention of "Integration with Collecting module" on the Mapping page that points people there for more information.

I can take it from here if you'd like?

[2022-09-07 01:00] katknow commented on #92
@allanaaa I'm happy to do it--are you thinking it would just become one of the bulleted lists under the "Prompts" heading?

[2022-09-07 15:30] allanaaa commented on #92
There's already a mention there that you can expand. I'd follow the formatting of the paragraph above this, where it mentions other module integrations:

I'd include your second screenshot; I think it's useful to see what the addition looks like for users.

And I would add it to the intro of the Collecting page here:

[2022-09-08 00:51] katknow commented on #92
Okay, I added a new branch to documentation with changes to the [Collecting](https://github.com/omeka/omeka-s-enduser/blob/collecting-mapping/docs/modules/collecting.md) and [Mapping](https://github.com/omeka/omeka-s-enduser/blob/collecting-mapping/docs/modules/mapping.md) pages. Collecting I did as described above, and then Mapping I just added a line at the end of the "Adding locations to an ite

[2022-09-08 19:20] allanaaa commented on #92
Looks good to me. I've noticed a few other things to correct on these pages during this discussion, so after you commit this I might go in and, e.g., try to find a better spot for the image maybe. But I'm happy with it for now!

[2022-09-14 19:57] majdal opened #93 "Support for geometries other than point?"
Thanks for the very useful module!

The module as it currently stands only supports point geometries. I think that adding other geometries, especially ones that are supported by the geojson standard, would be super useful, especially LineString and Polygon.

Is this one the roadmap? I wish I could contribute myself, by my PHP capabilities are dismal!

[2022-09-14 20:05] jimsafley commented on #93
There has been interest in adding additional geometries, so it is on our radar. There are some complications on how to implement them in the current state of the module, given it was developed with only points in mind, but we do plan on exploring the possibility in the future.

[2022-10-19 12:55] coret opened #94 "Feature request: Finding Unmapped Items"
Would it be possible for the next version of the Mapping module to include a search function for finding mapped/unmapped items (from: https://forum.omeka.org/t/finding-unmapped-items-in-mapping-module/14706) It is now not possible as Admin to make a list of items-to-map (within a item set).

Work-around is a database query like:
[code]

[2022-10-27 09:01] b-bowles opened #96 "Feature request: option to show all markers / disable clustering"
I'm working on a site where we want to show the density of markers covering a cityscape. The mapping module is working very well to display our items, but we would love to have the ability to disable the marker clustering. Would love to see this feature in a future update!

[2022-11-07 16:33] jimsafley commented on #45
See this [forum post](https://forum.omeka.org/t/adding-custom-provider-to-mindmap/15972/2) for potential leads on a functional, compliant WMTS server.

[2022-11-10 13:18] #43 closed, assigned to nobody

[2022-11-10 13:19] #70 closed, assigned to kimisgold

[2022-11-10 19:26] #80 closed, assigned to nobody

[2022-11-11 01:22] #89 closed, assigned to nobody

[2022-11-11 01:26] jimsafley commented on #89
Thanks for bringing this to our attention. It's an artifact of an old version of Mapping. Now, instead of setting a default zoom, latitude, and longitude, Mapping sets default bounds (i.e. a bounding box). The fix should be in the next release.

[2022-11-11 01:34] jimsafley opened #97 "Documentation: New behavior for CSV Import integration"
The [CSV Import integration](https://omeka.org/s/docs/user-manual/modules/mapping/#csv-import-integration) section needs updating to reflect a change in how users map a column to the default view. I've removed the "Default map view" dropdown and  added "Default Bounds (sw_lng,sw_lat,ne_lng,ne_lat)" to the renamed "Mapping" dropdown.

- **sw_lng**: south-west longitude
- **sw_lat**: south-west lati

[2022-11-11 01:44] jimsafley commented on #97
Does this section belong in the CSV Import docs instead? There is a question where module integration docs belong (see [here](https://github.com/omeka-s-modules/Mapping/issues/92#issuecomment-1233287654)), and I'm ambivalent.

[2022-11-11 01:48] jimsafley commented on #80
Thanks for pointing this out. The fix should be in the next release.

[2022-11-11 06:24] giocomai commented on #80
Looks great! Thanks for taking the time to investigate and fix this!

[2022-11-11 16:54] allanaaa commented on #97
Oh this is exciting. Bounds for everyone!

I've done maps/csv stuff before and it can be complicated, so I might write a longer tutorial-style section about it.

I'd put it in the CSV Import page, with a brief reference to it on the Mapping page. CSV Import also deserves more info about [data types](https://forum.omeka.org/t/rights-statements-in-a-csv-import/16014) and other module integrations.

[2022-11-15 18:17] #92 closed, assigned to katknow

[2022-11-16 22:23] allanaaa commented on #97
I've got my site set up with the CSV Import and Mapping develop modules, and they both appear to work, but the "Mapping" tab on items now isn't displaying anything.

Because I couldn't manually add any mapping data (none in the install beforehand), I did a CSV Import to append mapping data. That appeared to work - items that didn't show a mapping tab before show it now; items that didn't come up i

[2022-11-17 13:18] jimsafley commented on #97
Ah, yes. I forgot to mention that you'll need to install dependencies for the Mapping module. Run `npm install` in the the module's /asset directory.

[2022-11-17 16:52] allanaaa commented on #97
Thanks, that works.

Do these four coordinates default in some way? Say, if the map on the page is square, and you haven't provided perfectly square coordinates, does it just contain all four points and then show whatever excess is needed? Something like that?

[2022-11-17 17:21] allanaaa commented on #97
CSV Import Revising and Updating don't work - getting an error about a duplicate value. I'm revising/updating the lat, long, and bounds every time, but only bounds are throwing up the error I think:

[2022-11-18 13:35] jimsafley commented on #97
Leaflet will do its best to resolve the bounding box, but the coordinates do need to make some sense, e.g. south-west and north-east can't be switched.

[2022-11-18 13:56] jimsafley commented on #97
What are the exact steps you took to get this error?

[2022-11-18 14:51] allanaaa commented on #97
Start a CSV Import, looks like this:
[code]

Set to "Revise" or "Update" under advanced settings, map columns as needed.

If I go manually erase the mapping data for the item in question, then do a CSV Import to append or update, it works fine. But if there's already data on the item, revising or updating the default field causes the error.

[2022-11-18 19:25] jimsafley opened #98 "Updating mapping data from CSV does not work"
See [this thread](https://github.com/omeka-s-modules/Mapping/issues/97#issuecomment-1318961652).

An `UniqueConstraintViolationException` occurs when using the Mapping module's [CSV Import](https://github.com/omeka-s-modules/CSVImport) integration to update/revise an item with mapping data (i.e. bounds). When [hydrating mapping data](https://github.com/omeka-s-modules/Mapping/blob/master/Module.ph

[2022-11-18 19:28] jimsafley commented on #97
You've discovered a bug that has likely been around for a long time, just undiscovered until now. I've created an issue (#98).

[2022-11-20 16:21] #94 closed, assigned to nobody

[2022-11-20 16:27] jimsafley opened #99 "Testing: Search by map marker presence"
This module now adds a "Search by map marker presence" field to the admin and public item advanced search pages. Test this by adding map markers to some of your items and seeing whether a search for "Has map markers" and "Has no map markers" works as expected. This is on the `master` branch.

[2022-11-21 20:45] allanaaa commented on #97
1) We shouldn't require all three fields to be in every import, right? (Lat, Long, Bounds)
What I'm seeing is:

- Taking an item that has existing bounds (no markers) and CSV-appending lat/long is working, but wiping the bounds.
- Taking an item that has an existing marker (no bounds) and CSV-appending bounds is failing. (see 3)
- Taking an item that has existing bounds (no marker) and CSV-appendi

[2022-11-21 21:06] allanaaa commented on #97
Oh, actually, this version of the module is throwing up that error ("A marker must have a numeric latitude") on every single row that doesn't have lat/long included, no matter what it is you're actually trying to import. So I'll wait until that's fixed and go from there.

I just realized that if we wanted multiples values in a CSV Import we would use a multivalue separator on a single cell, not mu

[2022-11-21 21:50] allanaaa commented on #97
I tested the multivalue separators on a non-development install, and it appears to be true then too: lat;lat and long;long don't work, but lat/long;lat/long works. I can just document this instead of you changing it - up to you.

[2022-11-23 10:28] Dominique56 opened #100 "Mapping requiert Omeka S ^4.0.0"
Version 1.6 requires Omeka 4.0 ????
Please correct
Sincerely

[2022-11-23 11:24] jimsafley commented on #100
Version 1.6.0, [released on August 29](https://omeka.org/s/modules/Mapping/), requires Omeka S ^3.1.0. Are you perhaps trying to install directly from the `master` branch of this repository?

[2022-11-23 15:36] Dominique56 commented on #100
Thanks it' work

[2022-11-23 17:19] #100 closed, assigned to nobody

[2022-11-28 14:46] katknow commented on #99
I've pulled and it says everything is up to date, but when I'm trying to edit maps on the admin side I'm just getting a blank white screen under the mapping tab:

![Screenshot 2022-11-28 at 09-44-45 Edit · Elizabeth II · Items · Katie's Omeka S Testing Site](https://user-images.githubusercontent.com/84726696/204306499-e4574b57-c8a7-4a3a-86a8-430715accaae.png)

[2022-11-28 16:31] jimsafley commented on #99
Sorry. I forgot to mention that you'll need to install dependencies for the Mapping module. Run `npm install` in the the module's /asset directory.

[2022-11-28 16:55] jimsafley commented on #97
When was the last time you pulled changes? About nine days ago I made a change (a442bef9274655c125fdd7dff32ba0181041ef06) that may have resolved your first point. As for your second point, just change the documentation to match the current behavior. Your third point may be related to the bug I'm working on, but it may have been resolved with the above fix.

It's obvious that this module's CSV inte

[2022-11-28 21:54] katknow commented on #99
This is working as described across browsers and with a variety of combinations of fields being used in the advanced search.

[2022-11-29 01:33] #99 closed, assigned to katknow

[2022-11-29 13:18] pprw opened #101 "Readme correction about dependencies"
With master versions of Omeka S and this module, the step `$ npm install` is not only needed to develop but also just to display the map.

Readme should be updated

[2022-11-29 14:29] jimsafley commented on #101
Does the README not already say exactly that? What would you add?

We haven't decided whether to a) push dependencies into this repo or b) require `npm install` for development, and package the dependencies for releases only. I suppose we're leaning on a) for the convenience of people who develop and test off of the master branch, but without tooling to cull unneeded files, the dependency size cou

[2022-11-30 18:07] allanaaa commented on #97
Just grabbed the latest code. Revising and updating (and appending) the bounds value still results in that error. You'd expect it on appending, so it's not appending that's the problem, it's revising and updating.

[code]

The "A marker must have a numeric latitude" issue appears to be fixed, thanks! And I will document the multivalue separator behaviour.

I'm going to do some more testing on othe

[2022-11-30 19:00] jimsafley commented on #97
Resolving issue #98 may resolve your first point, but it also may be related to how the module hydrates incoming data. It's a complicated issue, so I don't think we can resolve it until after the next release. Perhaps in the meantime you can mention these caveats in documentation.

[2022-11-30 19:14] allanaaa commented on #97
My mistake, the second issue doesn't seem to be resolved -

[code]

I thought I had checked it thoroughly but the same process as above caused it again:

[2022-11-30 19:16] jimsafley commented on #97
I'll have to address all this after the next release.

[2022-11-30 21:59] allanaaa commented on #97
To be clear, ANY csv import append/revise/update process done while the Mapping module is activated will result in an error if it doesn't include a numeric latitude or longitude value for every item. (It works if you include just one of the two values.)

Maybe someone else can try to replicate this for me? The issue might become clearer.